<h1>Add a New Photo</h1>

<form action ="/photos/create_photo">
  <label for="Caption">Caption</label>
  <input id = "Caption" type ="text" name = "da_caption">
  <label for ="Image URL">Image URL</label>
  <input id = "Image URL" type ="text" name = "da_source">
  <button>Create Photo</button>
</form>
